@mixin contentItem{

}

.navigation-blue{
  background-color: $primary-color;
}

.navigation-white{
  background-color: white;
}

.navigation-gradient{
  background-image: linear-gradient(to right, #0979E6, #3581FE, #408FFF);
}

.navigation-wrapper{
  height: 45PX;
  position: relative;
  //background: #FFFFFF;
  //border-bottom: 1px solid #DADDE6;
  .navigator-chevron{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 80px;
    text-align: center;
    font-size: 40px;
    line-height: 50PX;
  }
  .navigator-content{
    line-height: 45PX;
    text-align: center;
    color: $common-text;
    font-weight: bold;
    font-size: 32px;
    padding: 0 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }

  .navigator-white{
    color: white;
  }

  .navigator-black{
    color: $common-text;
  }
}
.navigation-wrapper-border{
  border-bottom: 1px solid $border-color;
}
