@mixin starItem{
  font-size: 26px;
  margin: 0 2px;
  line-height: 40px;
  display: inline-block;
  height: 40px;
}

@mixin textStyle{
  font-size: 28px;
  width: 562px;
  max-width: 562px;
  display: inline-block;
  line-height: 42px;
}

@mixin titleStyle{
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  margin: 12px 0 0 20px;
  font-weight: 500;
}

@mixin starTag{
  margin-left: 20px;
  padding: 0 12px;
  border-radius: 2px;
  width: 120px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
}

.item{
  background-color: #FFFFFF;
  &-segmentation{
    background-color: #F5F5F5;
    height: 24px;
  }
  &-header{
    display: flex;
    flex-direction: row;
    padding: 25px 24px;
    position: relative;
    .item-header-box-pic{
      width: 80px;
      height: 80px;
    }
    &-box{
      position: relative;
      &-mask{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        width: 90px;
        height: 90px;
        top: 0;
      }
    }
    &-title{
      &-tag{
        display: flex;
        flex-direction: row;
        &-star{
          margin-left: 20px;
          border: 2px solid #F5A623;
          padding: 0 12px;
          border-radius: 2px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          &-active{
            color: #F57A00;
            @include starItem;
          }
          &-normal{
            color: $warning-bg-color;
            @include starItem;
          }
        }
        &-risk90{
          border: 2px solid #FF3B30;
          color: #FF3B30;
          @include starTag;
        }
        &-risk80{
          border: 2px solid #FF8F1F;
          color: #FF8F1F;
          @include starTag;
        }
        &-risk60{
          border: 2px solid #00B7F4;
          color: #00B7F4;
          @include starTag;
        }
        &-risk40{
          border: 2px solid #00B578;
          color: #00B578;
          @include starTag;
        }
        &-type{
          display: inline-block;
          text-align: center;
          font-size: 24px;
          line-height: 40px;
          height: 40px;
          border: 2px solid $primary-color;
          color: $primary-color;
          border-radius: 2px;
          margin-left: 12px;
          padding: 0 12px;
        }
        &-status{
          display: inline-block;
          text-align: center;
          font-size: 24px;
          line-height: 40px;
          height: 40px;
          border: 2px solid $light-text-color;
          color: $text-color;
          border-radius: 2px;
          margin-left: 12px;
          padding: 0 12px;
        }
      }
      &-readtext{
        color: #808080;
        @include titleStyle;
      }
      &-noreadtext{
        color: $common-text;
        @include titleStyle;
      }
    }
    &-time{
      color: $label-color;
      font-size: 26px;
      line-height: 26px;
      display: inline-block;
      font-weight: 400;
      position: absolute;
      right: 26px;
      top: 31px;
    }
  }

  &-line{
    height: 1px;
    width: 100%;
    background-color: $border-color;
  }

  &-content{
    background-color: white;
    padding: 14px 0;
    &-info{
      display: flex;
      margin: 0 24px;
      padding-top: 6px;
      &-label{
        color: $label-color;
        font-size: 28px;
        max-width: 120px;
        width: 120px;
        line-height: 42px;
        height: 42px;
        display: inline-block;
        text-align-last: justify;
        text-align: justify;
        text-justify: distribute-all-lines;
        &:after{
          display: inline-block;
          height: 0;
          width: 100%;
          content: ' ';
        }
      }
      &-colon{
        color: $label-color;
        font-size: 28px;
        line-height: 28px;
        display: inline-block;
      }
      &-readtext{
        color: $label-color;
        @include textStyle
      }
      &-noreadtext{
        color: $text-color;
        @include textStyle;
      }
      &-status{
        color: #F5A623;
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
}
