.yc-businessListItem {
  &-content {
    padding: 0 24px;
    font-family: PingFangSC-Regular, PingFang SC;

    &-logo {
      display: inline-block;
      margin-top: 38px;
      width: 64px;
      height: 64px;
      background: #FF5454;
      border-radius: 4px;
      text-align: center;
      vertical-align: top;

      &-text {
        display: inline-block;
        width: 45px;
        height: 52px;
        font-size: 22px;
        font-weight: 400;
        color: #FFFFFF;
      }
    }

    &-middleRight {
      padding-left: 16px;
      display: inline-block;

      &-middle {
        display: inline-block;
        margin: 32px 0 0 0;
        width: 499px;

        &-caseNumber {
          font-size: 28px;
          font-weight: 400;
          color: #333333;
          line-height: 28px;
        }

        &-obligorDetail {
          margin-top: 20px;
          font-size: 28px;
          font-weight: 400;
          color: #333333;
          line-height: 28px;

          &-obligorName {
            vertical-align: top;
            display: inline-block;
          }

          &-obligorValue {
            max-width: 387px;
            display: inline-block;
            word-break: break-all;
          }
        }

      }

      &-guarantor {
        padding-left:16px;
        &-contentLine {
          margin-top: 17px;
          height: 1px;
          background: #E5E5E5;
        }

        &-detail {
          margin-top: 17px;
          font-size: 28px;
          font-weight: 400;
          color: #333333;
          line-height: 28px;

          &-label {
            display: inline-block;
            vertical-align: top;
          }

          &-content {
            width:510px;
            display: inline-block;
          }
        }
      }
    }

    &-middleRightContent {
      display: inline-block;
      float: right;
      text-align: right;

      &-circleContent {
        &-circle {
          margin-top: 45px;
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #666666;
          border: solid 1px #666666;
        }
      }

      &-date {
        margin-top: 32px;
        font-size: 22px;
        font-weight: 400;
        color: #999999;
        line-height: 22px;
      }

    }
  }

  &-line {
    margin-top: 32px;
    height: 1px;
    background: #E5E5E5;
  }
}

//.yc-circle{
//  width:32px;
//  height:32px;
//}
//.yc-circle:active  .popover_body{
//  display: block;
//}
//.yc-circle:visited  .popover_body{
//  display: block;
//}
//.popover_body{
//  display: none;
//}

.popover_body {
  position: absolute;
  right: 24px;
}

.ant-popover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  top: 0;
  left: 0;
  z-index: 1030;
  font-weight: 400;
  white-space: normal;
  text-align: left;
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.ant-popover:after {
  position: absolute;
  background: hsla(0, 0%, 100%, .01);
  content: ""
}

.ant-popover-hidden {
  display: none
}

.ant-popover-placement-top, .ant-popover-placement-topLeft, .ant-popover-placement-topRight {
  padding-bottom: 10px
}

.ant-popover-placement-right, .ant-popover-placement-rightBottom, .ant-popover-placement-rightTop {
  padding-left: 10px
}

.ant-popover-placement-bottom, .ant-popover-placement-bottomLeft, .ant-popover-placement-bottomRight {
  padding-top: 10px
}

.ant-popover-placement-left, .ant-popover-placement-leftBottom, .ant-popover-placement-leftTop {
  padding-right: 10px
}

.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .15) \9
;
  box-shadow: 0 0 8px rgba(0, 0, 0, .15) \9
}

@media(-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .ant-popover-inner {
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05)
  }
}

.ant-popover-title {
  min-width: 177px;
  min-height: 32px;
  margin: 0;
  padding: 5px 16px 4px;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0
}

.ant-popover-inner-content {
  width: 198px;
  height: 196px;
  //padding: 12px 16px;
  color: rgba(0, 0, 0, .85);
  text-align: center;

  &-text {
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    line-height: 42px;
  }

  &-line {
    width: 150px;
    height: 1px;
    background: #EEEEEE;
    margin: 24px 0 26px 24px;
  }
}

.ant-popover-message {
  position: relative;
  padding: 4px 0 12px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px
}

.ant-popover-message > .anticon {
  position: absolute;
  top: 8.0005px;
  color: #faad14;
  font-size: 14px
}

.ant-popover-message-title {
  padding-left: 22px
}

.ant-popover-buttons {
  margin-bottom: 4px;
  text-align: right
}

.ant-popover-buttons button {
  margin-left: 8px
}

.ant-popover-arrow {
  position: absolute;
  display: block;
  width: 4.48528137px;
  height: 4.48528137px;
  background: 0 0;
  border-style: solid;
  border-width: 4.24264069px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  bottom: 6.2px;
  border-color: transparent #fff #fff transparent;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, .07)
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg)
}

.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow {
  left: 16px
}

.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  right: 16px
}

.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow {
  left: 6px;
  border-color: transparent transparent #fff #fff;
  -webkit-box-shadow: -3px 3px 7px rgba(0, 0, 0, .07);
  box-shadow: -3px 3px 7px rgba(0, 0, 0, .07)
}

.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}

.ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow {
  top: 12px
}

.ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  bottom: 12px
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 6px;
  border-color: #fff transparent transparent #fff;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, .06);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, .06)
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg)
}

.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow {
  left: 16px
}

.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  right: 16px
}

.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-leftBottom > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow {
  right: 6px;
  border-color: #fff #fff transparent transparent;
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, .07);
  box-shadow: 3px -3px 7px rgba(0, 0, 0, .07)
}

.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}

.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow {
  top: 12px
}

.ant-popover-placement-leftBottom > .ant-popover-content > .ant-popover-arrow {
  bottom: 12px
}

//.ant-popover-rtl {
//  direction: rtl;
//  text-align: right
//}
//
//.ant-popover-rtl .ant-popover-message-title {
//  padding-right: 22px;
//  padding-left: 16px
//}
//
//.ant-popover-rtl .ant-popover-buttons {
//  text-align: left
//}
//
//.ant-popover-rtl .ant-popover-buttons button {
//  margin-right: 8px;
//  margin-left: 0
//}
