
.monitor{
  position: relative;
  &-tips{
    background-color: white;
    padding: 0 24px 24px 24px;
    &-notice{
      background-color: $warning-bg-color;
      border-radius: 4px;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      &-icon{
        display: inline-block;
        color: $warning-color;
        font-size: 32px;
      }
      &-text{
        display: inline-block;
        color: $warning-color;
        font-size: 28px;
        line-height: 28px;
        height: 28px;
        margin-left: 4px;
        &-count{
          font-weight: bold;
        }
      }
    }
  }
  &-blank{
    text-align: center;
    &-segmentation{
      height: 24px;
      background-color: #F5F5F5;
    }
    &-pic{
      margin-top: 162px;
      width: 660px;
      height: 396px;
    }
    &-text{
      color: #666666;
      font-size: 30px;
    }
  }
  &-drop{
    box-shadow:0 6px 10px -5px #ccc;
  }
}
