
.monitor{
  position: relative;
  &-tips{
    display: flex;
    align-items: center;
    color: $text-color;
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    margin: 24px 0 24px 27px;
    &-icon{
      display: inline-block;
      font-size: 26px;
    }
    &-text{
      display: inline-block;
      margin-left: 4px;
      &-count{
        margin: 0 6px;
        color: $warning-color;
        font-weight: bold;
      }
    }
  }
  &-blank{
    text-align: center;
    &-segmentation{
      height: 24px;
      background-color: #F5F5F5;
    }
    &-pic{
      margin-top: 162px;
      width: 660px;
      height: 396px;
    }
    &-text{
      color: #666666;
      font-size: 30px;
    }
  }
  &-scroll{
    background-color: $page-bg-color;
    &-more{
      color: $light-text-color;
      padding: 24px 0;
      text-align: center;
      font-size: 24px;
      line-height: 24px;
    }
    &-done{
      color: $light-text-color;
      padding: 24px 0;
      position: relative;
      &-left{
        position: absolute;
        background-color: $light-text-color;
        height: 1px;
        width: 48px;
        right: 460px;
        top: 37px;
      }
      &-right{
        position: absolute;
        top: 37px;
        background-color: $light-text-color;
        height: 1px;
        width: 48px;
        left: 460px;
      }
      &-text{
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  &-back{
    position: absolute;
    right: 32px;
    bottom: 48px;
    z-index: 4;
    &-pic{
      width: 76px;
      height: 76px;
    }
  }

  &-drop{
    height: 1px;
    background-color: $divider-color;
    width: 100%;
  }
}
