@font-face {font-family: "iconfont";
  src: url('iconfont.woff?t=1591947940013') format('woff')
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-subrogation-trial:before {
  content: "\e6d4";
}

.icon-intangible-mining:before {
  content: "\e6d5";
}

.icon-intangible-build:before {
  content: "\e6d6";
}

.icon-stock-2:before {
  content: "\e6d7";
}

.icon-intangible-trademark:before {
  content: "\e6d8";
}

.icon-subrogation-judgment:before {
  content: "\e6d9";
}

.icon-lawsuit-trial:before {
  content: "\e6da";
}

.icon-bankruptcy-2:before {
  content: "\e6db";
}

.icon-subrogation-court:before {
  content: "\e6dc";
}

.icon-intangible-dump:before {
  content: "\e6dd";
}

.icon-broken-add:before {
  content: "\e6de";
}

.icon-tax:before {
  content: "\e6df";
}

.icon-chattel-2:before {
  content: "\e6e0";
}

.icon-auction-2:before {
  content: "\e6e1";
}

.icon-land-mortgage:before {
  content: "\e6e2";
}

.icon-land-result:before {
  content: "\e6e3";
}

.icon-abnormal:before {
  content: "\e6e4";
}

.icon-illegal:before {
  content: "\e6e5";
}

.icon-lawsuit-judgment:before {
  content: "\e6e6";
}

.icon-lawsuit-court:before {
  content: "\e6e7";
}

.icon-broken-remove:before {
  content: "\e6e8";
}

.icon-land-transfer:before {
  content: "\e6e9";
}

.icon-punishment:before {
  content: "\e6ea";
}

.icon-tixing:before {
  content: "\e6d0";
}

.icon-jiekuanren:before {
  content: "\e6d1";
}

.icon-arrow_top:before {
  content: "\e6d2";
}

.icon-arrow_bottom:before {
  content: "\e6d3";
}

.icon-zhuanfa:before {
  content: "\e6cf";
}

.icon-sousuosvg:before {
  content: "\e67e";
}

.icon-attention:before {
  content: "\e61e";
}

.icon-attention-ed:before {
  content: "\e62e";
}

.icon-dot:before {
  content: "\e629";
}

.icon-chevron-down:before {
  content: "\e659";
}

.icon-chevron-up:before {
  content: "\e65a";
}

.icon-follow:before {
  content: "\e62b";
}

.icon-attention-2:before {
  content: "\e649";
}

.icon-link:before {
  content: "\e642";
}

.icon-username:before {
  content: "\e643";
}

.icon-arrow-left:before {
  content: "\e644";
}

.icon-delete:before {
  content: "\e645";
}

.icon-delete-list:before {
  content: "\e646";
}

.icon-phone:before {
  content: "\e647";
}

.icon-password:before {
  content: "\e648";
}

.icon-follow-ing:before {
  content: "\e62c";
}

.icon-org-second-level:before {
  content: "\e62d";
}

.icon-document:before {
  content: "\e62f";
}

.icon-monitor:before {
  content: "\e630";
}

.icon-structuring:before {
  content: "\e631";
}

.icon-org-first-level:before {
  content: "\e632";
}

.icon-search-input:before {
  content: "\e633";
}

.icon-attention-list:before {
  content: "\e634";
}

.icon-user:before {
  content: "\e635";
}

.icon-message:before {
  content: "\e636";
}

.icon-org:before {
  content: "\e637";
}

.icon-detail:before {
  content: "\e638";
}

.icon-code:before {
  content: "\e639";
}

.icon-search:before {
  content: "\e63a";
}

.icon-mine:before {
  content: "\e63b";
}

.icon-ignore:before {
  content: "\e63c";
}

.icon-done:before {
  content: "\e63d";
}

.icon-pochanzhongzu:before {
  content: "\e63e";
}

.icon-add:before {
  content: "\e63f";
}

.icon-yifangqi:before {
  content: "\e640";
}

.icon-choose:before {
  content: "\e641";
}

