.modal-content{
  &-text{
    margin:48px 0 0 195px;
    display: inline-block;
    width: 216px;
    height: 34px;
    font-size: 34px;
    font-weight: 500;
    color: #333333;
    line-height: 34px;
  }
}
