.modal-content{
  &-text{
    margin:48px 0 0 195px;
    display: inline-block;
    width: 216px;
    height: 34px;
    font-size: 34px;
    font-weight: 500;
    color: #333333;
    line-height: 34px;
  }
  &-code{
    margin:48px 0 40px 48px;
    &-img{
      width: 300px;
      height: 80px;
      display: inline-block;
    }
    &-img >image{
      width: 300px;
      height: 80px;
    }
    &-text{
      width: 84px;
      height: 28px;
      font-size: 28px;
      font-weight: 400;
      color: #1C80E1;
      line-height: 28px;
      display: inline-block;
      vertical-align: top;
      margin:26px 0 26px 24px;
    }
  }
  &-wrapper{
    margin-left: 48px;
    width: 508px;
    height: 86px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #D5D5D5;
    &-icon{
      margin:24px 0px 0px 16px;
      display: inline-block;
    }
    &-input{
      display: inline-block;
      vertical-align: top;
      margin:24px 0 0 8px;
    }
  }
}
.yc-login .yc-login-imgCode .at-modal__container{
  width: 606px;
  height: 485px;
  background: #FFFFFF;
  border-radius: 16px;
}
.yc-login .yc-login-imgCode .at-modal__content{
  height:387px;
  min-height: auto;
  padding: 0;
}
