//主色调
$primary-tips: #0979E6;
//浅蓝背景色
$tab-bg-color: #F0F5FF;

//警示颜色
$warning-color: #FF3B30;
//警示tab背景颜色
$warning-bg-color: #FFE7E6;

//主要的文字颜色
$common-text: #333333;
//展示标题颜色
$label-color: #999999;
//信息展示颜色
$text-color: #666666;

//星星背景色
$star-color: #F5A623;
//未展示星星颜色
$star-disable: #F6B343;

