/* 引入 Taro UI 默认样式 */
//@import "~taro-ui/dist/style/index.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/calendar.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/checkbox.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/segmented-control.scss";

//tab的配置修改
@mixin tab-color{
  .at-tabs__item{
    color: $common-text;
    font-weight: 500;
    padding: 27px 0;
    margin: 0 120px;
  }
  .at-tabs__item--active{
    color: $primary-color;
    .at-tabs__item-underline{
      background-color: $primary-color;
      height: 4px;
    }
  }
}

//设计稿上出现的大尺寸的tab
.large-tab{
  border-bottom: 1px solid $border-color;
  overflow: visible;
  .at-tabs__item{
    font-size: 34px;
    line-height: 34px;
  }
  @include tab-color
}

//小尺寸的目前没有用到
//.middle-tab{
//  .at-tabs__item{
//    font-size: 24px;
//    line-height: 24px;
//  }
//  @include tab-color
//}
