.home{
  background-color: $page-bg-color;
  &-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 42px 24px 0 24px;
    padding: 24px 68px;
    background: white;
    box-shadow: 0 2px 34px 0 rgba(55, 131, 254, 0.16);
    border-radius: 24px;
    justify-content: space-between;
    &-tab{
      display: flex;
      flex-direction: column;
      text-align: center;
      &-img{
        width: 116px;
        height: 116px;
      }
      &-text{
        margin-top: 16px;
      }
    }
  }

  &-middle{
    display: flex;
    flex-direction: row;
    align-content: center;
    background: white;
    justify-content: space-between;
    padding: 28px 50px;
    margin-top: 24px;
    &-tab{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      &-img{
        width: 48px;
        height: 48px;
      }
      &-text{
        margin-top: 20px;
      }
    }
  }

  &-data{
    margin-top: 24px;
    background-color: white;
    &-tab{
      display: flex;
      flex-direction: row;
      font-size: 34px;
      padding: 20px 178px;
      justify-content: space-between;
    }
  }

  &-read{
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &-title{
      font-size: 32px;
      color: $common-text;
      margin: 22px 0 0 24px;
    }

    &-switch{
      display: flex;
      align-items: center;
    }
  }
}
