@mixin starBox{
  width: 202px;
  height: 106px;
  position: relative;
  box-shadow: -4px 4px 20px 0px rgba(185, 185, 185, 0.3);
  border-radius: 8px;
  z-index: 1;
  &-icon{
    position: absolute;
    z-index: 2;
    width: 99px;
    height: 95px;
    right: 0;
    bottom: 0;
  }
  &-text{
    color: white;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-left{
      font-size: 24px;
      padding: 5px 0 16px 24px;
      &-title{
        margin-top: 12px;
      }
    }
    &-right{
      font-size: 24px;
      padding-right: 22px;
      line-height: 106px;
    }
  }
}

@mixin riskLogo{
  width: 148px;
  height: 106px;
  position: relative;
  box-shadow: -4px 4px 20px 0px rgba(185, 185, 185, 0.3);
  border-radius: 8px;
  z-index: 1;
  &-icon{
    position: absolute;
    z-index: 2;
    width: auto;
    height: 100px;
    right: 0;
    bottom: 0;
  }
  &-text{
    color: white;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-left{
      font-size: 24px;
      padding: 5px 0 16px 20px;
      &-title{
        margin-top: 12px;
      }
    }
    &-right{
      font-size: 24px;
      padding-right: 12px;
      line-height: 100px;
    }
  }
}

@mixin logoItem{
  width: 327px;
  height: 124px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  &-left{
    margin: 40px 0 0 48px;
    &-icon{
      font-size: 44px;
      line-height: 44px;
      color: #808080;
    }
  }
  &-right{
    margin: 24px 0 0 48px;
    &-name{
      font-size: 28px;
      line-height: 28px;
      color: #666666;
    }
    &-num{
      margin-top: 16px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 500;
      text-align: left;
    }
  }
  &-divider{
    position: absolute;
    right: 0;
    background-color: $divider-color;
    width: 1px;
    height: 62px;
    top: 30px;
  }
  &-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $divider-color;
    width: 654px;
    height: 1px;
  }
}

.home{
  background-color: $page-bg-color;
  &-bg{
    background: url("../../assets/img/page/header-bg.png") no-repeat;
    background-size: 100% auto;
    width: 750px;
    padding-top: 32px;
    .home-header{
      display: flex;
      flex-direction: row;
      align-content: center;
      margin: 0 24px;
      padding: 24px 0;
      background: white;
      //box-shadow: 0 2px 34px 0 rgba(55, 131, 254, 0.16);
      border-radius: 24px;
      justify-content: space-between;
      &-tab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 234px;
        &-logo{
          text-align: center;
          &-pic{
            width: 88px;
            height: 88px;
          }
        }
        &-text{
          margin-top: 12px;
          font-size: 28px;
          color: $common-text;
        }
      }
    }
  }

  &-middle{
    display: flex;
    flex-direction: row;
    align-content: center;
    background: white;
    justify-content: space-between;
    padding: 28px 40px;
    margin: 24px;
    border-radius: 24px;
    &-tab{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      &-logo{
        text-align: center;
        &-img{
          width: 80px;
          height: 80px;
        }
      }
      &-text{
        margin-top: 12px;
        font-size: 24px;
        color: $common-text;
      }
    }
  }

  &-data{
    margin: 24px;
    border-radius: 24px;
    background-color: white;
    padding-bottom: 24px;
    &-box{
      background-color: white;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      &-level{
        color: $common-text;
        font-size: 30px;
        line-height: 30px;
        margin: 9px 0 0 24px;
        font-weight: 500;
        &-icon{
          color: #666666;
          font-size: 28px;
          line-height: 28px;
          margin-left: 10px;
        }
      }
      &-star{
        display: flex;
        margin: 25px 24px 0 24px;
        &-three{
          background-image: linear-gradient(to right, #0CBC47, #00DF7E);
          @include starBox;
        }
        &-two{
          background-image: linear-gradient(to right, #00B5C1 , #00DAFF);
          @include starBox;
          margin: 0 24px;
        }
        &-one{
          background-image: linear-gradient(to right, #3078FE , #5EB0FF);
          @include starBox;
        }
        &-high{
          @include riskLogo;
          background-image: linear-gradient(to right, #FF3B3E, #FC8383);
          .home-data-box-star-high-icon{
            width: 86px;
          }
        }
        &-warn{
          background-image: linear-gradient(to right, #FF5414, #FFA349);
          @include riskLogo;
          margin: 0 10px;
          .home-data-box-star-warn-icon{
            width: 102px;
          }
        }
        &-tip{
          background-image: linear-gradient(to right, #00A7FA, #36C5FF);
          @include riskLogo;
          margin: 0 10px;
          .home-data-box-star-tip-icon{
            width: 86px;
          }
        }
        &-good{
          background-image: linear-gradient(to right, #0CBC47, #00DF7E);
          @include riskLogo;
          .home-data-box-star-good-icon{
            width: 80px;
          }
        }
      }
      &-typeTitle{
        color: $common-text;
        font-size: 30px;
        margin: 48px 0 0 24px;
      }
      &-firstLine{
        background-color: $divider-color;
        height: 1px;
        width: 654px;
        margin: 24px 24px 0 24px;
      }
      &-type{
        display: flex;
        margin: 0 24px;
        width: 654px;
        flex-wrap: wrap;
        padding-bottom: 96px;
        &-logo{
          @include logoItem;
          border-bottom: 1px solid $divider-color;
        }
        &-logo-noBottom{
          @include logoItem;
        }
      }
    }

    &-noData{
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: column;
      &-pic{
        position: absolute;
        top: -60px;
        left: 151px;
        &-img{
          width: 400px;
          height: 240px;
        }
      }
      &-tips{
        margin-top: 185px;
        font-size: 28px;
        line-height: 28px;
        color: #6D6D6D;
      }
      &-advice{
        color: $primary-color;
        margin-top: 14px;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
      }
    }
  }

  &-case{
    width: 702px;
    background-color: white;
    border-radius: 24px;
    margin: 24px;
    &-title{
      color: $common-text;
      padding: 31px 0 33px 24px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 500;
    }

    &-titleLine{
      background-color: $divider-color;
      height: 1px;
      width: 100%;
    }

    &-info{
      display: flex;
      width: 100%;
      flex-direction: column;
      &-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 24px 0 24px;
        &-text{
          font-size: 30px;
          line-height: 30px;
          font-weight: 500;
          color: $common-text;
        }
        &-time{
          color: $label-color;
          font-size: 22px;
          line-height: 22px;
          vertical-align: middle;
        }
      }

      &-text{
        color: $text-color;
        font-size: 28px;
        line-height: 42px;
        display: flex;
        margin: 17px 24px 25px 24px;
      }

      &-line{
        background-color: $divider-color;
        height: 1px;
        margin: 0 24px;
      }
    }
  }

  &-bottom{
    margin: 24px 0 25px 0;
    position: relative;
    padding-bottom: 120px;
    &-left{
      position: absolute;
      background-color: $divider-color;
      height: 1px;
      width: 48px;
      left: 240px;
      top: 11px;
    }
    &-right{
      position: absolute;
      background-color: $divider-color;
      height: 1px;
      width: 48px;
      right: 240px;
      top: 11px;
    }
    &-text{
      text-align: center;
      color: $light-text-color;
      height: 22px;
      line-height: 22px;
      font-size: 22px;
    }
  }

  &-noBusiness{
    text-align: center;
    &-box{
      margin-top: 40px;
      text-align: center;
      &-pic{
        width: 660px;
        height: 396px;
      }
    }

    &-prompt{
      font-size: 30px;
      line-height: 30px;
      margin: 30px 0 48px 0;
      color: $text-color;
    }
    &-btn{
      display: flex;
      justify-content: center;
      &-text{
        background-color: $primary-color;
        width: 574px;
        height: 98px;
        color: white;
        border-radius: 8px;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
