.bankruptcy {
  background: #F5F5F5;
  height: 100vh;
  &-line {
    height: 24px;
  }

  &-baseInfo {
    background: #fff;
    margin-top: 24px;
    &-title {
      padding:0 24px;
      height: 89px;
      font-size: 32px;
      font-weight: 500;
      color: #333333;
      line-height: 89px;
    }

    &-line {
      height: 1px;
      background: #E5E5E5;
    }

    &-content {
      padding: 24px;
      &-info {
        display: flex;
        font-size: 28px;
        font-weight: 400;
        line-height: 42px;
        padding-top: 6px;
        &-colon{
          line-height: 42px;
          color: #999999;
          word-break: keep-all;
        }
        &-label{
          height: 42px;
          line-height: 42px;
          color: #999999;
          word-break: keep-all;
        }
        &-justifylabel{
          color: #999999;
          line-height: 42px;
          height: 42px;
          word-break: keep-all;
          max-width: 130px;
          width: 130px;
          text-align-last: justify;
          text-align: justify;
          text-justify: distribute-all-lines;
          &:after{
            display: inline-block;
            height: 0;
            width: 100%;
            content: ' ';
          }
        }
        &-copyIcon{
          font-size: 24px;
          color: #0979E6;
          margin-left: 9px;
        }
        &-sourceLinkLabel{
          letter-spacing: 9px;
        }
        &-value {
          color: #666666;
          max-width: 540px;
          line-height: 42px;
          word-break: break-all;
        }
        &-valueStar {
          color: #666666;
          line-height: 42px;
          word-break: break-all;
          font-weight: 500;
        }

        .risk90{
          color: #FF3B30;
        }

        .risk80{
          color: #FF8F1F;
        }

        .risk60{
          color: #00B7F4;
        }

        .risk40{
          color: #00B578;
        }

        .link{
          color: $primary-color;
        }
      }

    }
  }

}
