.yc-monitorManage {
  background: #F5F5F5;
  height: 100vh;

  &-addBusinessText {
    float: right;
    margin-right: 24px;
    font-size: 30px;
    color: #0979E6;
    line-height: 74px;
  }

  &-top {
    height: 181px;
    background: #fff;

    &-tab {
      &-atTab {
        border-bottom: solid 1px #E5E5E5;

        .at-tabs__item {
          height: 88px;
          line-height: 88px;
          padding: 0;
        }

        .at-tabs__item--active {
          color: #0979E6;
          font-weight: 500;
        }

        .at-tabs__item-underline {
          height: 4px;
          background: #0979E6;
          width: 25%;
          left: 37%;
        }
      }
    }

    &-search {
      width: 698px;
      height: 56px;
      border-radius: 4px;
      border: 2px solid #D5D5D5;
      margin: 16px 0 0 24px;
      //line-height: 60px;
      display: flex;
      align-items: center;

      &-icon {
        display: inline-block;
        font-size: 36px;
        color: #999999;
        margin-left: 17px;
      }

      &-input {
        display: inline-block;
        width: 580px;
        margin-left: 8px;
        //vertical-align: text-bottom;
        color: #333333;
        font-size: 28px;

        .input-placeholder {
          font-size: 28px;
          color: #CCCCCC;
        }
      }

      &-removeIcon {
        font-size: 32px;
        color: #999999;
        float: right;
        margin-right: 16px;
      }
    }
  }

  &-middle {
    height: 74px;
    line-height: 74px;
    padding-left: 24px;

    &-text {
      height: 26px;
      font-size: 26px;
      color: #333333;
      line-height: 26px;

      &-number {
        color: #f00;
      }
    }
  }

  &-bottom {
    height: 100vh;
    background: #fff;

    &-busLine {
      height: 1px;
      background: #E5E5E5;
    }

    &-contentLine {
      width: 622px;
      height: 1px;
      background: #f00;
      float: right;
      margin: 17px 24px 17px 0;
    }

    &-guarantor {
      margin: 0 24px 32px 104px;

      &-labelText {
        font-size: 28px;
        color: #333333;
        line-height: 28px;
        display: inline-block;
        vertical-align: top;
      }

      &-content {
        display: inline-block;
        width: 510px;

        &-labelText {
          font-size: 28px;
          color: #333333;
          line-height: 28px;
        }
      }
    }

    &-content {
      display: inline-block;

      &-contentLine {
        width: 622px;
        height: 1px;
        background: #f00;
        float: right;
        margin: 17px 24px 0 0;
      }

      &-relationImg {
        width: 80px;
        height: 80px;
        background: #0979E6;
        margin: 35px 0 0 24px;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        line-height: 80px;

        &-roleText {
          font-size: 22px;
          font-weight: 500;
          color: #FFFFFF;
        }

        &-roleTextTemp {
          font-size: 22px;
          font-weight: 500;
          color: #FFFFFF;
          max-width: 44px;
          display: inline-block;
          line-height: 30px;
          vertical-align: middle;
        }
      }

      &-img {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin: 44px 0 0 40px;
        text-align: center;

        &-text {
          font-size: 22px;
          color: #FFFFFF;
          line-height: 31px;
        }

        &-image {
          width: 100%;
          height: 100%;
        }
      }

      &-baseInfo {
        display: inline-block;
        vertical-align: top;
        margin: 33px 0 0 20px;

        &-company {
          width: 450px;
          margin-right: 24px;
          font-size: 28px;
          color: #333333;
          line-height: 45px;
          word-break: break-all;
        }

        &-personal {
          width: 450px;
          margin-right: 24px;
          font-size: 28px;
          color: #333333;
          line-height: 28px;
          word-break: break-all;
        }

        &-bottom {
          margin: 16px 0 32px 0;

          &-left {
            display: inline-block;
            width: 200px;
            height: 36px;
            background: #F5F5F5;
            border-radius: 2px;
            border: 2px solid #e5e5e5;
            line-height: 32px;

            &-text {
              font-size: 24px;
              color: #333333;
              //line-height: 24px;
              margin-left: 24px;
            }

            &-number {
              font-size: 24px;
              font-weight: 500;
              color: #0979E6;
              //line-height: 24px;
              margin-left: 12px;
            }
          }

          &-tags {
            margin: 16px 0;
          }
        }
      }

      &-right {
        float: right;
        margin: 33px 24px 0 0;

        &-yes {
          width: 124px;
          height: 36px;
          border-radius: 2px;
          border: 2px solid #00B478;
          line-height: 32px;
          text-align: center;
        }

        &-yesText {
          font-size: 24px;
          color: #00B478;
          //margin-left: 9px;
        }

        &-yesIcon {
          font-size: 24px;
          color: #00B478;
        }

        &-no {
          width: 124px;
          height: 36px;
          border-radius: 2px;
          border: 2px solid #0979E6;
          line-height: 32px;
          text-align: center;
        }

        &-noText {
          font-size: 24px;
          color: #0979E6;
          //margin-left: 9px;
          padding-left: 12px;
        }

        &-noIcon {
          font-size: 24px;
          color: #0979E6;
        }
      }

      &-line {
        width: 698px;
        height: 1px;
        background: #E5E5E5;
        margin-left: 24px;
      }
    }
  }

  &-businessEmpty {
    margin: 40px 0 0 0;

    &-content {
      text-align: center;

      &-img {
        width: 660px;
        height: 396px;
      }

      &-text {
        margin-top: 30px;
        font-size: 30px;
        color: #666666;
        line-height: 30px;
      }

      &-addBus {
        width: 574px;
        height: 98px;
        background: #0979E6;
        border-radius: 8px;
        line-height: 98px;
        font-size: 36px;
        color: #FFFFFF;
        margin: 48px 0 0 88px;
      }
    }
  }

  &-scroll {
    background-color: #F5F5F5;

    &-more {
      color: #cccccc;
      padding: 24px 0;
      text-align: center;
      font-size: 24px;
      line-height: 24px;
    }

    &-done {
      color: #cccccc;
      padding: 24px 0;
      position: relative;

      &-left {
        position: absolute;
        background-color: #cccccc;
        height: 1px;
        width: 48px;
        right: 460px;
        top: 37px;
      }

      &-right {
        position: absolute;
        top: 37px;
        background-color: #cccccc;
        height: 1px;
        width: 48px;
        left: 460px;
      }

      &-text {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.yc-monitorManage .at-tabs__item {
  font-size: 34px;
}

.yc-monitorManage .at-activity-indicator {
  justify-content: center;
}

.yc-monitorManage .at-loading, .at-loading__ring {
  width: 24px;
  height: 24px;
}

.yc-monitorManage .at-activity-indicator__content {
  font-size: 24px;
}
