.yc-businessDetail{
  background: #F5F5F5;
  height:100vh;
  &-line{
    height:24px;
  }
  &-top{
    background:#fff;
    padding-bottom: 24px;
    &-topInfo{
      height:89px;
      line-height: 89px;
      padding: 0 24px;
      &-busText{
        font-size: 32px;
        font-weight: 500;
        color: #333333;
      }
      &-removeBusText{
        float: right;
        font-size: 32px;
        color: #0979E6;
      }
    }
    &-line{
      height:1px;
      background: #E5E5E5;
    }
    &-topContent{
      padding:24px 0 24px 24px;
      &-text{
        height: 28px;
        font-size: 28px;
        color: #999999;
        line-height: 28px;
      }
      &-number{
        height: 28px;
        font-size: 28px;
        color: #666666;
        line-height: 28px;
      }
    }
  }
  &-bottom{
    background:#fff;
  }
  &-scroll{
    background-color: #F5F5F5;
    &-more{
      color: #cccccc;
      padding: 24px 0;
      text-align: center;
      font-size: 24px;
      line-height: 24px;
    }
    &-done{
      color: #cccccc;
      padding: 24px 0;
      position: relative;
      &-left{
        position: absolute;
        background-color: #cccccc;
        height: 1px;
        width: 48px;
        right: 460px;
        top: 37px;
      }
      &-right{
        position: absolute;
        top: 37px;
        background-color: #cccccc;
        height: 1px;
        width: 48px;
        left: 460px;
      }
      &-text{
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}
