.yc-search {
  height: 100vh;
  background: #F5F5F5;
  padding-top: 24px;

  &-assets {
    margin: 0 24px;
    width: 702px;
    height: 240px;
    background: linear-gradient(135deg, #0979E6 0%, #669AFF 100%);
    border-radius: 24px;

    &-bgImg {
      width: 702px;
      height: 240px;
      position: absolute;
      top: 24px;
    }

    &-content {
      margin-left: 72px;
      padding-top: 72px;

      &-img {
        font-size: 96px;
        color: #fff;
        opacity: 0.65;
      }

      &-text {
        display: inline-block;
        vertical-align: top;
        margin-left: 32px;
        opacity: 0.65;

        &-top {
          display: inline-block;
          width: 136px;
          height: 34px;
          font-size: 34px;
          font-weight: 500;
          color: #FFFFFF;
          line-height: 34px;
        }

        &-bottom {
          margin-top: 24px;
          width: 315px;
          height: 30px;
          font-size: 30px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 30px;
        }
      }

      &-icon {
        display: inline-block;
        vertical-align: top;
        margin: 17px 0 0 103px;
        opacity: 0.5;
      }
    }
  }
}

//.yc-search .at-toast .toast-page-content__img {
//  width: 60px;
//  height: 60px;
//  display: inline-block;
//}
//
//.yc-search .at-toast .toast-page-content__img-item {
//  width: 100%;
//  height: 100%;
//}

.at-toast .toast-page-content__img-item {
  width: 60px !important;
  height: 60px !important;
}
.toast-body-content__img-item{
  width:60px !important;
  height:60px !important;
}
