@mixin btnStyle{
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  border-radius: 4px;
  margin: 0;
}

@mixin boxStyle{
  width: 312px;
  height: 74px;
  line-height: 70px;
  border: 2px solid #D5D5D5;
  font-size: 28px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  overflow: visible;
  &-input{
    //padding: 14px 0;
    font-size: 28px;
    width: 100%;
    color: #D5D5D5;
    text-align: center;
    &-text{
      color: $common-text;
      font-size: 28px;
    }
    &-placeholder{
      color: #CCCCCC;

    }
  }
  &-icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 10px;
  }
}

@mixin inputStyle{
  display: inline-block;
  //padding: 14px 0;
  font-size: 28px;
  width: 100%;
  color: #D5D5D5;
  text-align: center;
}

@mixin iconStyle{
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 10px;
}

@mixin textStyle{
  color: $common-text;
  font-size: 28px;
}

@mixin placeholderStyle{
  color: #CCCCCC;
}

.conditions{
  padding-top: 24px;
  &-line{
    background-color: $border-color;
    height: 1px;
  }

  &-btn{
    display: flex;
    flex-direction: row;
    border-top: 1px solid $border-color;
    padding: 24px 32px;
    justify-content: space-between;
    &-reset{
      @include btnStyle;
      width: 264px;
      border: 2px solid #D5D5D5;
      background-color: white;
      color: $common-text;
    }
    &-confirm{
      @include btnStyle;
      width: 390px;
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
    }
  }

  &-time{
    display: flex;
    margin: 24px 32px;
    flex-direction: column;
    &-title{
      color: $label-color;
      font-size: 30px;
      font-weight: 500;
    }
    &-box{
      display: flex;
      flex-direction: row;
      margin-top: 24px;
      overflow: visible;
      &-segmentation{
        display: flex;
        align-items: center;
        margin: 0 24px;
        font-size: 26px;
        color: $light-text-color;
      }
      &-left{
        @include boxStyle;
        //&-input{
        //  @include inputStyle;
        //  &-text{
        //    @include textStyle
        //  }
        //  &-placeholder{
        //    @include placeholderStyle
        //  }
        //}
        //&-icon{
        //  @include iconStyle;
        //}
      }
      &-right{
        @include boxStyle;
        &-input{
          @include inputStyle;
          &-text{
            @include textStyle
          }
          &-placeholder{
            @include placeholderStyle
          }
        }
        &-icon{
          @include iconStyle;
        }
      }
    }
  }
}
