@mixin item-text{
  font-size: 28px;
  line-height: 28px;
  display: inline-block;
}

.drop{
  background-color: white;
  position: relative;
  padding-bottom: 24px;
  &-content{
    background-color: white;
    z-index: 10; // mask的层级是10
    position: absolute;
    width: 100%;
  }

  &-query-mask{
    position: absolute;
    opacity: 0.5;
    background: #000;
    height: 100%;
    width: 100%;
    top: 28px;
    z-index: 5;
  }

  &-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    &-tab{
      display: flex;
      flex: 1;
      font-size: 28px;
      line-height: 28px;
      font-weight: 400;
      color: $common-text;
      position: relative;
      justify-content: center;
      &-text{
        height: 28px;
        color: #333333;
        display: flex;
        align-content: center;
        &-active{
          @include item-text;
          color: $primary-color;
          font-weight: 500;
        }
        &-normal{
          @include item-text
        }
        &-icon::before{
          margin-left: 8px;
          color: $border-divider-color;
        }
      }
      &-icon-normal{
        font-size: 16px;
        margin-left: 8px;
        color: #D9D9D9;
      }
      &-icon-active{
        font-size: 16px;
        margin-left: 8px;
        color: $primary-color;
      }
      &-divider{
        position: absolute;
        right: 0;
        background-color: $border-divider-color;
        height: 24px;
        width: 1px;
        top: 2px;
      }
    }
}

  &-query{
    position: absolute;
  }

}
